.check_list .closed span.text {
    text-decoration: line-through;
    color: #808080;
}

.check_list {
    list-style: none;
}

.check_list li {
    padding: 2px;
    min-height: 25px;
}

.check_list .input-sm {
    height: 22px;
    padding: 2px 5px;
}

.check_list .check_add {
    margin-left: 15px;
    margin-right: 15px;
    width: 237px;
}

.comment-form {
    padding-top: 10px;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height: 24px;
}

#message {
    min-height: 40px;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    padding: 8px;
    outline: none;
}
#message:active , #message:focus {
    border: 1px solid blue;
}

blockquote.comment {
    padding: 30px 15px 15px;
    margin: 0 5px 15px;
    font-size: 14px;
    position: relative;
}

blockquote.comment .author {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #BBB;
}

blockquote.comment .author a  , 
blockquote.comment span.author {
    text-decoration: none;
    color: #BBB;
}

.bs-callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px
}

.bs-callout p:last-child {
    margin-bottom: 0
}

.bs-callout code {
    background-color: #fff;
    border-radius: 3px
}

.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #d9534f
}

.bs-callout-danger h4 {
    color: #d9534f
}

.bs-callout-warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e
}

.bs-callout-warning h4 {
    color: #f0ad4e
}

.bs-callout-info {
    background-color: #f4f8fa;
    border-color: #5bc0de
}

.docs {
    border: 1px solid #AAA;
    margin: 5px 0px;
}